<div class="bs-docs-section">
  <h1 id="images" class="page-header">Images</h1>

  <h2 id="images-responsive">Responsive images</h2>
  <p>Images in Bootstrap 3 can be made responsive-friendly via the addition of the <code>.img-responsive</code> class. This applies <code>max-width: 100%;</code> and <code>height: auto;</code> to the image so that it scales nicely to the parent element.</p>
{% highlight html %}
<img src="../../../../../../../resources/bootstrap/bootstrap-package-3.2.0/docs/_includes/css/..." class="img-responsive" alt="Responsive image">
{% endhighlight %}

  <h2 id="images-shapes">Image shapes</h2>
  <p>Add classes to an <code>&lt;img&gt;</code> element to easily style images in any project.</p>
  <div class="bs-callout bs-callout-danger">
    <h4>Cross-browser compatibility</h4>
    <p>Keep in mind that Internet Explorer 8 lacks support for rounded corners.</p>
  </div>
  <div class="bs-example bs-example-images">
    <img data-src="holder.js/140x140" class="img-rounded" alt="A generic square placeholder image with rounded corners">
    <img data-src="holder.js/140x140" class="img-circle" alt="A generic square placeholder image where only the portion within the circle circumscribed about said square is visible">
    <img data-src="holder.js/140x140" class="img-thumbnail" alt="A generic square placeholder image with a white border around it, making it resemble a photograph taken with an old instant camera">
  </div>
{% highlight html %}
<img src="../../../../../../../resources/bootstrap/bootstrap-package-3.2.0/docs/_includes/css/..." alt="..." class="img-rounded">
<img src="../../../../../../../resources/bootstrap/bootstrap-package-3.2.0/docs/_includes/css/..." alt="..." class="img-circle">
<img src="../../../../../../../resources/bootstrap/bootstrap-package-3.2.0/docs/_includes/css/..." alt="..." class="img-thumbnail">
{% endhighlight %}
</div>
