<div class="bs-docs-section">
  <h1 id="license-faqs" class="page-header">License FAQs</h1>
  <p class="lead">Bootstrap is released under the MIT license and is copyright {{ site.time | date: "%Y" }} Twitter. Boiled down to smaller chunks, it can be described with the following conditions.</p>

  <h4>It requires you to:</h4>
  <ul>
    <li>Include the license and copyright notice in your works</li>
  </ul>

  <h4>It permits you to:</h4>
  <ul>
    <li>Freely download and use Bootstrap, in whole or in part, for personal, private, company internal, or commercial purposes</li>
    <li>Use Bootstrap in packages or distributions that you create</li>
    <li>Modify the source code</li>
    <li>Grant a sublicense to modify and distribute Bootstrap to third parties not included in the license</li>
  </ul>

  <h4>It forbids you to:</h4>
  <ul>
    <li>Hold the authors and license owners liable for damages as Bootstrap is provided without warranty</li>
    <li>Hold the creators or copyright holders of Bootstrap liable</li>
    <li>Redistribute any piece of Bootstrap without proper attribution</li>
    <li>Use any marks owned by Twitter in any way that might state or imply that Twitter endorses your distribution</li>
    <li>Use any marks owned by Twitter in any way that might state or imply that you created the Twitter software in question</li>
  </ul>

  <h4>It does not require you to:</h4>
  <ul>
    <li>Include the source of Bootstrap itself, or of any modifications you may have made to it, in any redistribution you may assemble that includes it</li>
    <li>Submit changes that you make to Bootstrap back to the Bootstrap project (though such feedback is encouraged)</li>
  </ul>

  <p>The full Bootstrap license is located <a href="../../../../../../../resources/bootstrap/bootstrap-package-3.2.0/docs/_includes/getting-started/{{ site.repo }}/blob/master/LICENSE">in the project repository</a> for more information.</p>
</div>
