/* CSS crunched with Crunch - http://crunchapp.net/ */
/* CSS Portal Custom Styles */
/**** Template Containers ****/
html#ui,
#ui body {
  height: 100%;
  color: #333333;
}
html#ui {
  overflow-y: scroll;
}
#ui .wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -40px;
  padding: 0 0 40px;
}
#ui .wrap .container.container-limit {
  min-width: 970px;
}
#ui .wrap .container .col-1 {
  padding: 0;
  background-color: #eeeeee;
  margin-bottom: 31px;
}
#ui .wrap .container .colmix-2-3 {
  padding-right: 0px;
}
#ui .wrap .container .col-2 {
  margin-bottom: 31px;
}
#ui .wrap .container .col-3 {
  margin-bottom: 31px;
  padding-right: 0px;
}
#ui .footer {
  height: 40px;
}
#ui .footer {
  font-size: 11px;
}
#ui .footer .col-ft-2-3 {
  padding-right: 0;
}
#ui .footer .ftr-line {
  border-top: 9px solid #79ba43;
  padding-top: 7px;
}
#ui .footer .col-ft-2-3 .ftr-line {
  padding-right: 15px;
  text-align: right;
  color: #737373;
}
/**** /Template Containers ****/
/**** .navbar (Main Navbar) ****/
#ui .wrap .navbar {
  margin-bottom: 7px;
}
#ui .navbar .container.container-limit {
  background-image: url(img/pixel-line-v-79BA43.png);
  background-position: bottom;
  background-repeat: repeat-x;
}
#ui .navbar .lgn-lgout {
  font-size: 11px;
  margin-top: 56px;
}
#ui .navbar .lgn-lgout .user-nme {
  padding-right: 10px;
  border-right: 1px solid #5f5f5f;
  font-weight: bold;
}
#ui .navbar .lgn-lgout .lg-out {
  padding-left: 8px;
}
#ui .navbar .navbar-header {
  height: 89px;
}
#ui .navbar .navbar-header .navbar-brand {
  background-image: url(img/moneris-logo-en.jpg);
  height: 65px;
  width: 170px;
  padding: 0;
  margin-left: 5px;
  margin-top: 11px;
}
#ui .navbar .h-nav {
  background-color: #79ba43;
}
#ui .navbar .nav.nav-pills.h-nav > li + li {
  margin-left: -1px;
  height: 30px;
}
#ui .navbar .nav.h-nav > li > a span {
  display: inline-block;
  height: 20px;
  border-left: 1px solid #69a33a;
  padding: 0 15px;
}
#ui .navbar .nav.h-nav > li:last-child > a span {
  border-right: 1px solid #69a33a;
}
#ui .navbar .nav.h-nav > li.active + li > a span {
  border-left: 0 none;
}
#ui .navbar .nav.h-nav > li > a {
  padding: 5px 0;
  font-weight: bold;
  background: none;
  border-radius: 0;
  color: #ffffff;
}
#ui .navbar .nav.nav-pills.h-nav > li.active > a,
#ui .navbar .nav.nav-pills.h-nav > li.active > a:hover {
  background-color: #69a33a;
}
#ui .navbar .nav.nav-pills.h-nav > li > a:hover {
  background-color: #71ae3e;
}
#ui .navbar .nav.nav-pills.h-nav > li.disabled > a,
#ui .navbar .nav.nav-pills.h-nav > li.disabled > a:hover {
  opacity: 0.3;
}
/**** /.navbar (Main Navbar) ****/
/**** .v-nav (Vertical Navigation) ****/
#ui .v-nav {
  background-color: #ffffff;
  padding: 19px 0;
  font-weight: bold;
  font-size: 12px;
  margin-top: 18px;
}
#ui .v-nav > li {
  background-color: #eeeeee;
}
#ui .v-nav > li > a {
  padding: 6px 15px;
  background: none;
  border-bottom: 1px solid #ffffff;
}
#ui .v-nav > li.active > a,
#ui .v-nav > li.active > a:hover {
  background-color: #808080;
  color: #ffffff;
}
#ui .v-nav > li > a:hover {
  background-color: #aaaaaa;
  color: #ffffff;
}
#ui .v-nav > li.disabled > a,
#ui .v-nav > li.disabled > a:hover {
  background-color: #f7f7f7;
  color: #d6d6d6;
}
#ui .v-nav > li > a span {
  display: block;
}
/**** /.v-nav (Vertical Navigation) ****/
/**** Portal Breadcrumbs ****/
#ui .breadc-row {
  text-align: right;
  height: 18px;
  padding-right: 0;
  margin-bottom: 21px;
}
#ui .breadcrumb > li + li:before {
  color: #b7b7b7;
}
#ui .breadc-row .breadcrumb.page-breadcrumbs {
  font-size: 11px;
  background: none;
  padding: 0;
  margin: 0;
  background-color: #eeeeee;
  line-height: 18px;
  border-radius: 0;
}
#ui .breadc-row .breadcrumb.page-breadcrumbs > li:last-child {
  padding-right: 13px;
}
.breadcrumb > .active {
  color: #333333;
}
/**** /Portal Breadcrumbs ****/
/**** Actual Section Content | .pg-contnt  ****/
#ui .pg-c-box {
  margin-left: 25px;
}
#ui .pg-title-row {
  margin-left: 25px;
}
#ui .pg-title-row .pg-title {
  font-size: 19px;
  margin: 0;
  margin-bottom: 39px;
  font-weight: bold;
}
#ui .pg-c-box .pg-content h4.tb-title {
  margin-top: 0;
  font-size: 17px;
  font-weight: bold;
}
/**** Actual Section Content | .pg-contnt  ****/
/**** .tab-wiz-row ****/
#ui .wrap .tab-wiz-row {
  margin-bottom: 26px;
  margin-left: 25px;
  background-image: url(img/pixel-E1E1E1.png);
  background-position: center;
  background-repeat: repeat-x;
  margin-top: -20px;
}
#ui .tab-wiz-row .nav.nav-pills.nav-wizard {
  display: table;
  margin: 0 auto;
  margin-left: 38px;
}
#ui .tab-wiz-row .nav-pills.nav-wizard {
  font-size: 12px;
}
#ui .tab-wiz-row .nav-pills.nav-wizard > li {
  border-left: 14px solid #ffffff;
  border-right: 19px solid #ffffff;
  overflow: visible;
  position: relative;
}
#ui .tab-wiz-row .nav-pills.nav-wizard > li:first-child {
  border-left: 0 none;
}
#ui .tab-wiz-row .nav-pills.nav-wizard > li:first-child a {
  border-radius: 3px 0 0 3px;
}
#ui .tab-wiz-row .nav-pills.nav-wizard > li:last-child {
  border-right: 0 none;
}
#ui .tab-wiz-row .nav-pills.nav-wizard > li:last-child a {
  border-radius: 0 3px 3px 0;
}
#ui .tab-wiz-row .nav-pills.nav-wizard > li a {
  background-color: #eeeeee;
  border-radius: 0;
  margin-left: -15px;
  padding: 3px 6px;
}
#ui .tab-wiz-row .nav-pills.nav-wizard > li .nav-arrow {
  border-color: transparent transparent transparent #eeeeee;
  border-style: solid;
  border-width: 11px 0 12px 12px;
  height: 0;
  position: absolute;
  right: -12px;
  top: 0;
  width: 0;
  z-index: 150;
}
#ui .tab-wiz-row .nav-pills.nav-wizard > li .nav-wedge {
  border-color: #eeeeee #eeeeee #eeeeee transparent;
  border-style: solid;
  border-width: 11px 0 12px 12px;
  height: 0;
  left: -27px;
  position: absolute;
  top: 0;
  width: 0;
  z-index: 150;
}
#ui .tab-wiz-row .nav-pills.nav-wizard > li:hover .nav-arrow {
  border-color: transparent transparent transparent #aaaaaa;
}
#ui .tab-wiz-row .nav-pills.nav-wizard > li:hover .nav-wedge {
  border-color: #aaaaaa #aaaaaa #aaaaaa transparent;
}
#ui .tab-wiz-row .nav-pills.nav-wizard > li:hover a {
  background-color: #aaaaaa;
  color: #ffffff;
}
#ui .tab-wiz-row .nav-pills.nav-wizard > li.active .nav-arrow {
  border-color: transparent transparent transparent #808080;
}
#ui .tab-wiz-row .nav-pills.nav-wizard > li.active .nav-wedge {
  border-color: #808080 #808080 #808080 transparent;
}
#ui .tab-wiz-row .nav-pills.nav-wizard > li.active a {
  background-color: #808080;
  color: #ffffff;
}
/* only tabs */
#ui .tab-wiz-row .nav-pills.nav-wizard.nav-only {
  margin-left: 7px;
}
#ui .tab-wiz-row .nav-pills.nav-wizard.nav-only .nav-wedge,
#ui .tab-wiz-row .nav-pills.nav-wizard.nav-only .nav-arrow {
  display: none;
}
#ui .tab-wiz-row .nav-pills.nav-wizard.nav-only > li {
  border: none;
}
#ui .tab-wiz-row .nav-pills.nav-wizard.nav-only > li a {
  border-radius: 3px;
  margin-left: 16px;
}
#ui .tab-wiz-row .nav-pills.nav-wizard > li.disabled .nav-arrow {
  border-color: transparent transparent transparent #f7f7f7;
}
#ui .tab-wiz-row .nav-pills.nav-wizard > li.disabled .nav-wedge {
  border-color: #f7f7f7 #f7f7f7 #f7f7f7 transparent;
}
#ui .tab-wiz-row .nav-pills.nav-wizard > li.disabled a {
  color: #d6d6d6;
  background-color: #f7f7f7;
}
/* pils warnings */
#ui .tab-wiz-row .nav-pills.nav-wizard > li.section-warning a:before {
  color: #ff504a;
  content: "!";
  display: inline-block;
  font-weight: bold;
  height: auto;
  margin-left: -10px;
  margin-top: -23px;
  vertical-align: middle;
  width: 10px;
}
/* .tab-content */
#ui .tab-content .tab-pane {
  min-height: 300px;
  padding-bottom: 20px;
}
#ui .tab-pane .tooltip-inner {
  white-space: pre;
  max-width: 300px;
  text-align: left;
}
/**** /tab-wiz-row ****/
/**** Generic Styles ****/
#ui .wrap *,
#ui .footer * {
  background-repeat: no-repeat;
}
#ui * :focus {
  outline: none;
}
#ui * ::-moz-focus-inner {
  border: 0;
}
#ui a {
  color: #4285f4;
  text-decoration: none;
}
#ui a:hover,
#ui a:focus {
  color: #2f5bb7;
  text-decoration: none;
}
#ui .panel {
  box-shadow: none;
  border-radius: 3px;
}
#ui .panel-heading {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
#ui .simple-spinner {
  display: inline-block;
  white-space: pre;
  width: 85px;
  word-wrap: normal;
  line-height: 16px;
  color: #ffbc37;
}
#ui .required-f:after {
  color: #ff504a;
  content: "*";
  display: inline-block;
  height: auto;
  margin-bottom: -3px;
  margin-right: -10px;
  vertical-align: middle;
  width: 10px;
}
/* Sample Code */
#ui .sample-code {
  background-color: #d9edf7;
  padding: 4px 10px;
  border-left: 1px solid #ffffff;
  cursor: alias;
}
#ui .sample-code.code-undefined {
  cursor: default;
}
#ui .sample-code:hover .data-select {
  background-color: #ffffcd;
}
#ui .data-undef {
  color: #c8c8c8;
}
#ui .data-display .control-label,
#ui .form-horizontal .data-display .control-label {
  text-align: left;
  padding-left: 27px;
  color: #333333;
}
#ui .data-display.single-lang .input-group {
  display: block;
}
#ui .data-display.single-lang .input-group .input-group-addon {
  display: none;
}
#ui .form-control {
  color: #333333;
}
/**** /Generic Styles ****/
/* Buttons Generic */
#ui .btn-default {
  color: #333333;
}
#ui .btn-primary {
  background-color: #4285f4;
  border: 1px solid #3079ed;
}
#ui .btn-primary:hover,
#ui .btn-primary:focus,
#ui .btn-primary:active,
#ui .btn-primary.active,
#ui .open > .dropdown-toggle.btn-primary {
  background-color: #2f5bb7;
  border: 1px solid #2f5bb7;
}
#ui .gc-images .btn-default:focus,
#ui .gc-images .btn-default:active {
  background-color: #ffffff;
}
#ui .btn-default {
  background-color: #ffffff;
  border-color: #aaaaaa;
}
#ui .btn-default:hover,
#ui .btn-default.active {
  background-color: #aaaaaa;
  border-color: #aaaaaa;
  color: #ffffff;
}
#ui .btn-default.disabled:hover,
#ui .btn-default.disabled:focus,
#ui .btn-default.disabled:active,
#ui .btn-default.disabled.active,
#ui .btn-default[disabled]:hover,
#ui .btn-default[disabled]:focus,
#ui .btn-default[disabled]:active,
#ui .btn-default[disabled].active,
#ui fieldset[disabled] .btn-default:hover,
#ui fieldset[disabled] .btn-default:focus,
#ui fieldset[disabled] .btn-default:active,
#ui fieldset[disabled] .btn-default.active {
  background-color: #e1e1e1;
  border-color: #e1e1e1;
}
/* -- */
#ui .btn-default.bd-primary {
  color: #4285f4;
  border-color: #e1e1e1;
}
#ui .btn-default.bd-danger {
  color: #ff4943;
  border-color: #e1e1e1;
}
#ui .btn-default.bd-primary:hover,
#ui .btn-default.bd-primary:active {
  background-color: #4285f4;
  color: #ffffff;
  border-color: #4285f4;
}
#ui .btn-default.bd-danger:hover,
#ui .btn-default.bd-danger:active {
  background-color: #d31710;
  border-color: #d31710;
}
#ui .btn-default.bd-danger:hover .glyphicon-trash {
  color: #ffffff;
}
#ui .form-group .btn-group.btn-toggle {
  padding-bottom: 5px;
  padding-top: 5px;
}
#ui .btn-toggle .btn.btn-off.active,
#ui .btn-toggle .btn.btn-off:hover {
  background-color: #808080;
  border-color: #808080;
  color: #ffffff;
}
#ui .btn-toggle .btn.btn-on.active,
#ui .btn-toggle .btn.btn-on:hover {
  background-color: #69a33a;
  border-color: #69a33a;
  color: #ffffff;
}
#ui .btn-toggle .btn.btn-off.active:hover,
#ui .btn-toggle .btn.btn-on.active:hover {
  cursor: default;
}
#ui .btn-toggle .btn {
  background-color: #e1e1e1;
  border-color: #b7b7b7;
  color: #808080;
}
/* -- */
#ui .btn.disabled,
#ui .btn[disabled],
#ui fieldset[disabled] #ui .btn {
  opacity: 0.30;
  cursor: not-allowed;
}
/* btn-group - danger */
#ui .btn-group .dropdown-menu > li > a.danger {
  color: #ff4943;
}
#ui .btn-group .dropdown-menu > li > a.danger:hover {
  color: #d31710;
}
/* /Buttons Generic */
/**** Customized Modals ****/
#ui .panel.modalpan {
  position: relative;
  z-index: 1050;
}
#ui .panel.modalpan .btn {
  min-width: 95px;
}
#ui .modal-backdrop.mod-bckg-white {
  background-color: #ffffff;
}
#ui .modal-backdrop.in.mod-bckg-white {
  opacity: 0.9;
}
#ui .mod-bckg-white .progress {
  margin-top: 32px;
  width: 35%;
}
/**** /Customized Modals ****/
/**** Inputs customization ****/
#ui .form-control::-moz-placeholder {
  color: #c8c8c8;
  opacity: 1;
}
#ui .form-control:-ms-input-placeholder {
  color: #c8c8c8;
}
#ui .form-control::-webkit-input-placeholder {
  color: #c8c8c8;
}
#ui input.form-control:focus::-webkit-input-placeholder {
  color: transparent;
}
#ui input.form-control:focus:-moz-placeholder {
  color: transparent;
}
#ui input.form-control:focus::-moz-placeholder {
  color: transparent;
}
#ui .form-control,
#ui .form-control:focus,
#ui input.form-control,
#ui input.form-control:focus,
#ui textarea.form-control,
#ui textarea.form-control:focus {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -moz-transition: none;
  -webkit-transition: none;
}
#ui .form-control:focus,
#ui input.form-control:focus,
#ui textarea.form-control:focus {
  border-color: #7baeff;
}
#ui textarea {
  resize: vertical;
  min-height: 35px;
}
#ui textarea.form-control {
  height: auto;
}
#ui .form-control.disabled {
  color: #737373;
}
/**** /Inputs customization ****/
/**** Form Elements and Forms Navigation ****/
#ui .form-horizontal .radio,
#ui .form-horizontal .checkbox,
#ui .form-horizontal .radio-inline,
#ui .form-horizontal .checkbox-inline {
  padding-top: 5px;
}
#ui .form-horizontal .form-group .in-bilingv .input-group:first-of-type {
  margin-bottom: 1px;
}
#ui .form-horizontal .form-group .in-bilingv .input-group .input-group-addon {
  font-size: 11px;
  padding-top: 7px;
}
#ui .form-horizontal .control-label {
  padding-top: 5px;
  padding-bottom: 5px;
}
#ui .form-horizontal .form-group label {
  color: #555555;
}
#ui .form-horizontal .form-group label.radio-inline,
#ui .form-horizontal .form-group .radio label,
#ui .form-horizontal .form-group .lbl,
#ui .form-horizontal .form-group .checkbox label {
  color: #333333;
}
#ui .form-horizontal .form-group .form-control-static {
  padding-bottom: 5px;
  padding-top: 5px;
}
#ui .form-horizontal .radio-inline,
#ui .form-horizontal .checkbox-inline {
  padding-top: 5px;
  padding-bottom: 5px;
}
#ui .form-horizontal .form-group label.radio-inline.disabled,
#ui .form-horizontal .form-group .radio label.disabled,
#ui .form-horizontal .form-group .disabled .lbl,
#ui .form-horizontal .form-group .wrd-inln-hlp.disabled,
#ui .form-horizontal .form-group .checkbox label.disabled,
#ui .form-horizontal .form-group .checkbox.disabled label,
#ui .form-horizontal .form-group .checkbox-inline label.disabled {
  color: #d5d5d5;
}
#ui .input-sm,
#ui .form-horizontal .form-group-sm .form-control {
  font-size: 14px;
  padding: 4px 10px;
}
#ui .form-horizontal .form-gp-line {
  margin-bottom: 5px;
}
#ui .input-group .input-group-addon {
  background-color: #cccccc;
  color: #333333;
}
#ui .input-group .input-group-addon.addon-wht {
  background-color: transparent;
}
#ui .form-control[disabled],
#ui .form-control[readonly],
#ui fieldset[disabled] #ui .form-control {
  background-color: #f7f7f7;
}
#ui .form-block {
  padding-top: 10px;
}
#ui .form-bottom-nav {
  border-top: 1px solid #e1e1e1;
  padding-top: 10px;
  font-size: 12px;
}
#ui .form-bottom-nav .form-nv-sv button {
  min-width: 80px;
}
#ui .form-bottom-nav .prw-language {
  margin-top: 5px;
}
#ui .form-bottom-nav .prw-language span.prw-txt {
  line-height: 19px;
}
#ui .form-bottom-nav .prw-language .btn-xs {
  font-size: 11px;
}
#ui .form-bottom-nav.wiz-only .prw-language {
  display: none;
}
#ui .form-bottom-nav.admin-only .form-nv-sv .glyphicon {
  display: none;
}
/**** /Form Elements and Forms Navigation ****/
/*  .form-block special cases: Confirmation | Expand  */
/* Confirmation */
#ui .save-vgc-config {
  border-radius: 3px;
  padding: 29px;
  margin: 10px 0 10px 0;
  border: 1px solid #83cf46;
}
#ui .save-vgc-config button {
  margin-top: 17px;
  width: 320px;
}
#ui .save-vgc-config .help-block {
  width: 320px;
}
/* Expand */
#ui .f-bl-expand {
  margin-top: 30px;
  margin-bottom: 20px;
  padding-right: 29px;
  padding-left: 29px;
}
#ui .f-bl-expand .cancel-vgc {
  font-size: 12px;
}
#ui .f-bl-expand.fbl-on {
  border: 1px solid #ff504a;
  border-radius: 3px;
}
#ui .f-bl-expand .hd-sh-area {
  padding: 29px 0 29px 0;
}
#ui .f-bl-expand .hd-sh-area .btn {
  margin-top: 25px;
  margin-bottom: 20px;
}
#ui .cancel-vgc {
  text-align: right;
}
/*  /.form-block special cases: Confirmation | Expand  */
/**** BS Tables Overwrite ****/
#ui .table > thead > tr > th,
#ui .table > tbody > tr > th,
#ui .table > tfoot > tr > th,
#ui .table > thead > tr > td,
#ui .table > tbody > tr > td,
#ui .table > tfoot > tr > td {
  border-color: #aaaaaa;
}
#ui .table > thead > tr > th {
  border-color: #aaaaaa;
}
#ui .table > tbody + tbody {
  border-color: #aaaaaa;
}
#ui .table-bordered {
  border-color: #aaaaaa;
}
#ui .table-bordered > thead > tr > th,
#ui .table-bordered > tbody > tr > th,
#ui .table-bordered > tfoot > tr > th,
#ui .table-bordered > thead > tr > td,
#ui .table-bordered > tbody > tr > td,
#ui .table-bordered > tfoot > tr > td {
  border-color: #aaaaaa;
}
#ui .table-responsive {
  border-color: #aaaaaa;
}
/**** /BS Tables Overwrite ****/
/**** Table Generic ****/
#ui .table {
  font-size: 14px;
}
#ui table tr th.text-center,
#ui table tr td.text-center {
  vertical-align: middle;
}
#ui table tr th.tbl-labels,
#ui table tr td.tbl-labels {
  color: #555555;
  font-weight: bold;
  vertical-align: middle;
}
#ui table tr th.tbl-labels {
  color: #555555;
}
#ui table tr th.tbl-labels-light,
#ui table tr td.tbl-labels-light {
  vertical-align: middle;
  color: #555555;
  font-weight: normal;
}
#ui table tr td.cell-val-f {
  vertical-align: middle;
  padding-left: 19px;
}
#ui table tr > th.noborder-lt,
#ui table tr > td.noborder-lt {
  border-left: 1px solid #ffffff;
  border-top: 1px solid #ffffff;
}
#ui table tr > th.noborder-b,
#ui table tr > td.noborder-b {
  border-bottom: 1px solid #ffffff;
}
#ui table tr.low-row > th,
#ui table tr.low-row > td {
  padding: 5px;
}
#ui table tr.low-row.r-lower > th,
#ui table tr.low-row.r-lower > td {
  padding: 1px;
}
#ui table tr.tr-subhead > th,
#ui table tr.tr-subhead > td {
  font-weight: bold;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  border-bottom: 1px;
  padding-top: 35px;
}
#ui table.table-hover tr.tr-subhead:hover > th,
#ui table.table-hover tr.tr-subhead:hover > td {
  background-color: transparent;
}
#ui table tr > th.radio-cell,
#ui table tr > td.radio-cell {
  width: 50px;
  vertical-align: middle;
}
#ui table tr > th.th-code,
#ui table tr > td.th-code {
  width: 80px;
}
#ui table tr > th.th-message,
#ui table tr > td.th-message {
  width: 100px;
}
/**** /Table Generic ****/
/**** Special Tables (e-select+) ****/
#ui table.tbl-options {
  margin-bottom: 40px;
}
#ui table.tbl-options .glyphicon-check,
#ui table.tbl-options .tbl-labels.opt.o-1,
#ui table.tbl-options .tbl-labels.opt.o-2,
#ui table.tbl-options .tbl-labels.opt.o-3 {
  color: #d5d5d5;
}
#ui table.tbl-options th.tbl-labels.opt.o-1,
#ui table.tbl-options th.tbl-labels.opt.o-2,
#ui table.tbl-options th.tbl-labels.opt.o-3 {
  color: #333333;
}
#ui table.tbl-options.option-lite tr > th.opt.o-1,
#ui table.tbl-options.option-lite tr > td.opt.o-1,
#ui table.tbl-options.option-plus tr > th.opt.o-2,
#ui table.tbl-options.option-plus tr > td.opt.o-2,
#ui table.tbl-options.option-custom tr > th.opt.o-3,
#ui table.tbl-options.option-custom tr > td.opt.o-3 {
  background-color: #edffe6;
}
#ui table.table-hover.tbl-options.option-lite > tbody > tr:hover > td.opt,
#ui table.table-hover.tbl-options.option-plus > tbody > tr:hover > td.opt,
#ui table.table-hover.tbl-options.option-custom > tbody > tr:hover > td.opt {
  background-color: #f5f5f5;
}
#ui table.table-hover.tbl-options.option-lite > tbody > tr:hover > th.tbl-labels,
#ui table.table-hover.tbl-options.option-plus > tbody > tr:hover > th.tbl-labels,
#ui table.table-hover.tbl-options.option-custom > tbody > tr:hover > th.tbl-labels {
  background-color: transparent;
}
#ui table.tbl-options.option-lite tr > th.opt.o-1 .glyphicon-check,
#ui table.tbl-options.option-lite tr > td.opt.o-1 .glyphicon-check,
#ui table.tbl-options.option-plus tr > th.opt.o-2 .glyphicon-check,
#ui table.tbl-options.option-plus tr > td.opt.o-2 .glyphicon-check,
#ui table.tbl-options.option-custom tr > th.opt.o-3 .glyphicon-check,
#ui table.tbl-options.option-custom tr > td.opt.o-3 .glyphicon-check {
  color: #83cf46;
}
#ui table.tbl-options.option-lite .tbl-labels.opt.o-1,
#ui table.tbl-options.option-plus .tbl-labels.opt.o-2,
#ui table.tbl-options.option-custom .tbl-labels.opt.o-3 {
  color: #555555;
}
#ui table.tbl-options tbody.tby-data,
#ui table.tbl-options tbody.tby-data tr.row-amex-only {
  /*  font-style: italic; */
  display: none;
}
/* enabled/disabled credit cards */
#ui table.tbl-options tbody.c-cards td.with-logo {
  opacity: 0.3;
  filter: alpha(opacity=30);
  -webkit-filter: grayscale(1);
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'gs\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#gs");
  filter: gray;
}
#ui table.tbl-options.visa-only tbody.c-cards td.with-logo.visa-sm,
#ui table.tbl-options.mc-only tbody.c-cards td.with-logo.mastercard-sm,
#ui table.tbl-options.amex-only tbody.c-cards td.with-logo.amex-sm {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-filter: none;
  filter: none;
}
/* show/hide credit cards features */
#ui table.tbl-options.visa-only tbody.card-visa,
#ui table.tbl-options.mc-only tbody.card-mc,
#ui table.tbl-options.amex-only tbody.card-amex {
  display: none;
}
#ui table.tbl-options.visa-only tbody.card-visa {
  display: table-row-group;
}
#ui table.tbl-options.mc-only tbody.card-mc {
  display: table-row-group;
}
#ui table.tbl-options.amex-only tbody.card-amex {
  display: table-row-group;
}
#ui table.tbl-options.amex-only tbody.card-amex tr.row-amex-only {
  display: table-row;
}
/* - */
#ui table.tbl-options .tr-subhead .wrd-inln-hlp {
  display: inline-table;
  float: left;
  height: auto;
  margin: 2px 10px 0 0;
  padding-top: 5px;
}
#ui table.tbl-options .minilogo-card {
  display: inline-table;
  width: 50px;
  height: 24px;
  background-position: left center;
  display: none;
}
#ui table.tbl-options .minilogo-card.mini-visa {
  background-image: url(img/visa-logo-sm.png);
}
#ui table.tbl-options .minilogo-card.mini-mc {
  background-image: url(img/mastercard-logo-sm.png);
}
#ui table.tbl-options .minilogo-card.mini-amex {
  background-image: url(img/amex-logo-sm.png);
}
#ui table.tbl-options.visa-only tbody .minilogo-card.mini-visa {
  display: inline-table;
}
#ui table.tbl-options.mc-only tbody .minilogo-card.mini-mc {
  display: inline-table;
}
#ui table.tbl-options.amex-only tbody .minilogo-card.mini-amex {
  display: inline-table;
}
/* -- */
#ui table tbody.cell-logos td.with-logo {
  padding-left: 88px;
  background-position: 15px center;
}
#ui table tbody.cell-logos td.with-logo.visa-sm {
  background-image: url(img/visa-logo-sm.png);
}
#ui table tbody.cell-logos td.with-logo.mastercard-sm {
  background-image: url(img/mastercard-logo-sm.png);
  background-position: 18px center;
}
#ui table tbody.cell-logos td.with-logo.amex-sm {
  background-image: url(img/amex-logo-sm.png);
  background-position: 24px center;
}
/* -- */
#ui table tr > td.cell-hover {
  background-color: #f5f5f5;
}
/**** /Special Tables (e-select+) ****/
/**** In-Line Messages ****/
#ui .help-block {
  font-size: 12px;
  margin-bottom: 1px;
  margin-top: 1px;
  float: none;
  color: #737373;
}
#ui .help-block .wrd-inln-hlp {
  border-bottom: 1px dotted #737373;
  border-radius: 0;
}
#ui .form-block .control-label .help-block {
  font-size: 12px;
  font-weight: normal;
  margin-bottom: -15px;
  padding: 0;
  margin-top: -2px;
}
#ui .form-block .form-control-static + .help-block {
  margin-top: -5px;
}
#ui .form-block .form-gp-line + .help-block {
  margin-top: -3px;
}
#ui .form-block .checkbox + .help-block {
  margin-top: 0;
}
#ui .form-block .radio-inline + .help-block {
  margin-top: -4px;
}
/**** /In-Line Messages ****/
/**** In-Line Help Terms ****/
#ui .wrd-inln-hlp {
  border-radius: 3px;
}
#ui .wrd-inln-hlp:hover {
  cursor: help;
  border-bottom: 1px dotted #4285f4;
  border-radius: 0;
}
#ui .wrd-inln-hlp.h-selected {
  cursor: default;
  background-color: #d9edf7;
  box-shadow: 0 0 0 2px #d9edf7;
  border-bottom: 0 none;
}
#ui .wrd-inln-hlp.h-selected:hover {
  border-radius: 3px;
}
/**** /In-Line Help Terms ****/
/**** /In-Page Help .hm-blk ****/
#ui .sticky-hblock .hp-box h4.hp-title {
  margin-top: 0;
  font-size: 17px;
  padding-left: 3px;
}
#ui .sticky-hblock .hp-box h4.hp-title.hp-closed {
  text-align: right;
}
#ui .sticky-hblock .hp-box h4.hp-title .glyphicon {
  font-size: 13px;
}
#ui .sticky-hblock .hp-title a:hover,
#ui .sticky-hblock .hp-title a:visited,
#ui .sticky-hblock .hp-title a:focus {
  text-decoration: none;
}
#ui .sticky-hblock .hp-box h4.hp-title .hp-more-less {
  font-size: 10px;
}
#ui .sticky-hblock .hp-box .in-pg-help {
  height: 480px;
  overflow: auto;
}
#ui .sticky-hblock .hp-box .in-pg-help .mCSB_inside > .mCSB_container {
  margin-right: 22px;
}
#ui .sticky-hblock .hp-box .in-pg-help .hp-blk {
  padding: 3px;
}
#ui .sticky-hblock .hp-box .in-pg-help h5 {
  font-size: 12px;
  font-weight: bold;
  margin-top: 0;
}
#ui .sticky-hblock .hp-box .in-pg-help ul {
  padding-left: 14px;
}
#ui .sticky-hblock .hp-box .hp-item-selected {
  background-color: #d9edf7;
  box-shadow: 0 0 0 3px #d9edf7;
  border-radius: 3px;
}
/**** /In-Page Help .hm-blk ****/
/**** Messaging ****/
/* copy */
#ui .text-success {
  color: #83cf46;
}
#ui .text-danger {
  color: #ff504a;
}
/* Inline Messages */
#ui .form-block .help-block.has-success,
#ui .form-block .help-block.has-info,
#ui .form-block .help-block.has-warning,
#ui .form-block .help-block.has-error {
  border-radius: 3px;
  padding: 5px 10px 3px 10px;
  background-image: url(img/triangle-down-white.png);
  background-position: 8px 0px;
  color: #ffffff;
}
#ui .form-block .help-block.has-success {
  background-color: #83cf46;
}
#ui .form-block .help-block.has-info {
  background-color: #6597ae;
}
#ui .form-block .help-block.has-warning {
  background-color: #ffbc37;
}
#ui .form-block .help-block.has-error {
  background-color: #ff504a;
}
#ui .form-block .help-block a {
  color: #ffffff;
  text-decoration: underline;
}
#ui .sticky-hblock {
  font-size: 12px;
}
/* In-Page Notifications .sys-notif */
#ui .sticky-hblock .sys-notif {
  height: auto;
}
#ui .sticky-hblock .sys-notif .pg-note h3.panel-title {
  display: inline-block;
  max-width: 215px;
  font-size: 12px;
  font-weight: bold;
  color: #ffffff;
}
#ui .sticky-hblock .sys-notif .pg-note.panel {
  color: #000000;
}
#ui .sticky-hblock .sys-notif .pg-note.panel .panel-body {
  max-height: 400px;
  overflow: auto;
}
#ui .sticky-hblock .sys-notif .pg-note .close {
  line-height: 0.8;
}
#ui .sticky-hblock .sys-notif .pg-note.panel,
#ui .sticky-hblock .sys-notif .pg-note.panel .panel-heading {
  border: 0 none;
}
/* .panel-success */
#ui .sticky-hblock .sys-notif .pg-note.panel-success {
  background-color: #dff0d8;
}
#ui .sticky-hblock .sys-notif .pg-note.panel-success > .panel-heading {
  background-color: #83cf46;
}
/* .panel-info */
#ui .sticky-hblock .sys-notif .pg-note.panel-info {
  background-color: #d9edf7;
}
#ui .sticky-hblock .sys-notif .pg-note.panel-info > .panel-heading {
  background-color: #6597ae;
}
/* .panel-warning */
#ui .sticky-hblock .sys-notif .panel-warning {
  background-color: #fcf8e3;
}
#ui .sticky-hblock .sys-notif .pg-note.panel-warning > .panel-heading {
  background-color: #ffbc37;
}
/* .panel-danger */
#ui .sticky-hblock .sys-notif .pg-note.panel-danger {
  background-color: #f2dede;
}
#ui .sticky-hblock .sys-notif .pg-note.panel-danger > .panel-heading {
  background-color: #ff504a;
}
/**** /Messaging ****/
/**** Special Cases *********************************************************************************************************************/
/**** Upload Background for a button - .upld-bkg-group ****/
#ui .upld-bkg-group {
  width: 65px;
  margin-left: 9px;
}
#ui .upld-bkg-group .upld-bkg-img {
  height: 23px;
  width: 10px;
  margin-top: 3px;
  border: 1px dotted #cccccc;
}
#ui .upld-bkg-group .btn-xs {
  margin-top: 3px;
}
#ui .upld-bkg-group .btn-group {
  float: right;
}
#ui .upld-bkg-group .help-block {
  float: left;
  margin-left: -11px;
  width: 92px;
  word-wrap: break-word;
}
/**** /Upload Background for a button - .upld-bkg-group ****/
/**** Mimic VGC Client Interface ****/
#ui table tr > td.brand-sampl {
  padding-top: 0;
  padding-bottom: 0px;
  height: 33px;
  vertical-align: middle;
  background-image: url(img/1px-w-light-line.gif);
  background-position: top center;
}
#ui .brand-s-ex {
  width: 25px;
  display: inline-table;
  color: #737373;
}
/* --- */
#ui input.but-mimic-vgc[type="submit"],
#ui input.but-mimic-vgc[type="button"],
#ui butto.but-mimic-vgcn {
  background-color: #666;
  border-radius: 0.325em;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
  padding: 3px;
  width: auto;
  border: 1px solid #c5c5c5;
  font-size: 12px;
  font-family: Arial, sans-serif;
  background-repeat: repeat;
  line-height: normal;
  margin: 0px 0;
  cursor: text;
}
#ui button.preset-denomination-button.cur-mimic-vgc {
  background-color: #666;
  border: 0 none;
  border-radius: 0;
  color: #ffffff;
  font-size: 12px;
  height: 27px;
  vertical-align: middle;
  width: 34px;
  cursor: pointer;
  font-weight: bold;
  font-family: Arial, sans-serif;
  line-height: normal;
  margin: 0px 0;
  cursor: text;
}
#ui h1.h1-mimic-vgc {
  color: #333333;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  padding: 8px 0;
  margin: 0;
  display: inline;
}
#ui h2.h2-mimic-vgc {
  color: #333333;
  font-size: 12px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  padding: 8px 0;
  margin: 0;
}
/**** /Mimic VGC Client Interface ****/
/**** Dragable Image List - .drgbl-list ****/
#ui .dragging .dragged {
  position: absolute;
  top: 0;
  opacity: 0.5;
  z-index: 2000;
}
#ui .dragging .drgbl-list li.placeholder {
  border: 1px solid #808080;
  margin: 0;
  padding: 0;
  position: relative;
}
#ui .dragging .drgbl-list li.placeholder:before {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: transparent -moz-use-text-color transparent #ffbc37;
  border-image: none;
  border-style: solid none solid solid;
  border-width: 5px medium 5px 5px;
  content: "";
  height: 0;
  left: -20px;
  margin-top: -1px;
  position: absolute;
  top: -4px;
  width: 0;
}
#ui .drgbl-list .glyphicon-move {
  color: #ffffff;
  font-size: 24px;
  margin-top: -2px;
  cursor: move;
}
#ui .drgbl-list .panel-title {
  font-size: 22px;
  font-weight: bold;
  line-height: 22px;
  margin-top: 0px;
  padding-top: 0;
  color: #333333;
  margin-left: 10px;
}
#ui .drgbl-list .panel-heading button.btn {
  margin-top: 1px;
}
#ui .drgbl-list .panel-heading button.btn .glyphicon-trash {
  font-size: 11px;
}
#ui .drgbl-list .panel .panel-heading .btn-group .btn {
  width: 55px;
}
#ui .drgbl-list .panel .panel-heading .btn .glyphicon {
  line-height: 1.5;
}
#ui .drgbl-list .panel .panel-heading .btn-group.btn-toggle {
  width: 110px;
}
/* .gc-images */
#ui .jtron-line {
  background-color: red;
}
#ui .gc-images {
  float: left;
}
#ui .gc-images.col-1per2 {
  width: 310px;
  margin-right: 6px;
}
#ui .gc-images.col-2per2 {
  width: 310px;
}
#ui .gc-images.col-xs-8 {
  padding-left: 0;
}
#ui .gc-images .drgbl-list .panel {
  background-color: #e1e1e1;
  border: 0 none;
  margin-top: 20px;
}
#ui .gc-images .drgbl-list .panel .panel-body {
  padding: 7px  7px 0  7px;
}
#ui .gc-images.col-1per2 .drgbl-list .panel .panel-body,
#ui .gc-images.col-2per2 .drgbl-list .panel .panel-body {
  padding: 7px  4px 0  4px;
}
#ui .gc-images .drgbl-list .panel-info > .panel-heading {
  background-color: #e1e1e1;
  padding: 10px 15px 5px 15px;
  border: 0 none;
  height: 37px;
}
#ui .gc-images .drgbl-list.col-xs-8 .panel {
  width: auto;
}
#ui .gc-images .crd-img-blk {
  width: 302px;
  float: left;
  margin-bottom: 7px;
}
#ui .gc-images .crd-img-blk.crd-en {
  float: left;
}
#ui .gc-images .crd-img-blk.crd-fr {
  float: right;
}
#ui .panel-body > div.crd-img-blk + div.crd-img-blk {
  margin-left: 7px;
}
#ui .gc-images .crd-img-blk .gc-crd-img {
  background-color: #ffffff;
  border-radius: 16px;
  height: 190px;
  width: 302px;
  float: none;
  background-image: url(img/vgc-placeholder-specs.png);
}
#ui .gc-images .crd-img-blk .gc-crd-img.mltpl {
  background-image: url(img/vgc-placeholder-specs-multiple.png);
}
#ui .gc-images .crd-img-blk .gc-crd-img img {
  border-radius: 16px;
  border: 1px solid #b7b7b7;
}
#ui .gc-images .crd-img-blk .gc-crd-img .txt-placeholder {
  color: #ffbc37;
  display: block;
  font-size: 18px;
  text-align: left;
  padding: 156px 0 0 112px;
}
#ui .gc-images .crd-img-blk .up-gc-image {
  margin-top: 8px;
  padding: 0 11px 0 30px;
}
#ui .gc-images .crd-img-blk .up-gc-image .btn:last-child {
  margin-right: 0;
}
#ui .gc-images .crd-img-blk .up-gc-image label {
  margin-top: 4px;
}
#ui .gc-images .crd-img-blk .up-gc-image .btn-xs {
  margin-top: 4px;
}
#ui .gc-images .crd-img-blk .up-gc-image .imup-lng {
  display: inline-block;
  float: right;
  font-size: 12px;
  font-weight: bold;
  margin: 2px 17px 0 5px;
  width: 30px;
}
#ui .gc-images.col-xs-8 .panel.panel-info {
  /* used when is only one language */
  width: 317px;
}
#ui .gc-images.col-xs-8 .panel.panel-info .panel-body > div.crd-img-blk + div.crd-img-blk {
  margin-left: 0;
}
#ui .gc-images .ckbox-s-all {
  margin-left: -20px;
}
/**** /Dragable Image List - .drgbl-list ****/
/**** Misc ****/
#ui .spec-label-1 {
  display: inline-table;
  float: left;
  margin-left: -37px;
  margin-top: 5px;
}
/**** Misc ****/
/**** /THE END ****/

/*.collapsible-hlp {*/
  /*overflow: scroll;*/
  /*max-height: 170px;*/

/*}*/
/*@media(min-height:520px) {*/
  /*.collapsible-hlp {*/
    /*max-height: 170px;*/
  /*}*/
/*}*/
/*@media(min-height:600px) {*/
  /*.collapsible-hlp {*/
    /*max-height: 250px;*/
  /*}*/
/*}*/
/*@media(min-height:768px) {*/
  /*.collapsible-hlp {*/
    /*max-height: 400px;*/
  /*}*/
/*}*/
/*@media(min-height:900px) {*/
  /*.collapsible-hlp {*/
    /*max-height: 500px;*/
  /*}*/
/*}*/
/*@media(min-height:950px) {*/
  /*.collapsible-hlp {*/
    /*max-height: 550px;*/
  /*}*/
/*}*/
/*@media(min-height:1080px) {*/
  /*.collapsible-hlp {*/
    /*max-height: 700px;*/
  /*}*/
/*}*/
/*@media(min-height:1280px) {*/
  /*.collapsible-hlp {*/
    /*max-height: 900px;*/
  /*}*/
/*}*/
/*@media(min-height:1440px) {*/
  /*.collapsible-hlp {*/
    /*max-height: 1050px;*/
  /*}*/
/*}*/
/*@media(min-height:1600px) {*/
  /*.collapsible-hlp {*/
    /*max-height: 1250px;*/
  /*}*/
/*}*/
