<!-- Footer
================================================== -->
<footer class="bs-docs-footer" role="contentinfo">
  <div class="container">
    {% include social-buttons.html %}

    <p>Designed and built with all the love in the world by <a href="http://twitter.com/mdo" target="_blank">@mdo</a> and <a href="http://twitter.com/fat" target="_blank">@fat</a>.</p>
    <p>Maintained by the <a href="https://github.com/twbs?tab=members">core team</a> with the help of <a href="https://github.com/twbs/bootstrap/graphs/contributors">our contributors</a>.</p>
    <p>Code licensed under <a href="https://github.com/twbs/bootstrap/blob/master/LICENSE" target="_blank">MIT</a>, documentation under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</p>
    <ul class="bs-docs-footer-links muted">
      <li>Currently v{{ site.current_version }}</li>
      <li>&middot;</li>
      <li><a href="{{ site.repo }}">GitHub</a></li>
      <li>&middot;</li>
      <li><a href="../../../../../../resources/bootstrap/bootstrap-package-3.2.0/docs/getting-started/#examples">Examples</a></li>
      <li>&middot;</li>
      <li><a href="../../../../../../resources/bootstrap/bootstrap-package-3.2.0/docs/2.3.2">v2.3.2 docs</a></li>
      <li>&middot;</li>
      <li><a href="../../../../../../resources/bootstrap/bootstrap-package-3.2.0/docs/about">About</a></li>
      <li>&middot;</li>
      <li><a href="{{ site.expo }}">Expo</a></li>
      <li>&middot;</li>
      <li><a href="{{ site.blog }}">Blog</a></li>
      <li>&middot;</li>
      <li><a href="../../../../../../resources/bootstrap/bootstrap-package-3.2.0/docs/_includes/{{ site.repo }}/issues?state=open">Issues</a></li>
      <li>&middot;</li>
      <li><a href="../../../../../../resources/bootstrap/bootstrap-package-3.2.0/docs/_includes/{{ site.repo }}/releases">Releases</a></li>
    </ul>
  </div>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="../../../../../../resources/aframework/bs/3.2.0-sourcecode/docs/dist/js/bootstrap.min.js"></script>
<script src="../../../../../../resources/aframework/bs/3.2.0-sourcecode/docs/assets/js/docs.min.js"></script>
{% if page.slug == "customize" %}
<script src="../../../../../../resources/aframework/bs/3.2.0-sourcecode/docs/assets/js/customize.min.js"></script>
{% endif %}

{% comment %}
  Inject Twitter widgets asynchronously. Snippet snipped from Twitter's
  JS interface site: https://dev.twitter.com/docs/tfw-javascript

  * "js.async=1;" added to add async attribute to the generated script tag.
{% endcomment %}
<script>
  window.twttr = (function (d,s,id) {
    var t, js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return; js=d.createElement(s); js.id=id; js.async=1;
    js.src="https://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs);
    return window.twttr || (t = { _e: [], ready: function(f){ t._e.push(f) } });
  }(document, "script", "twitter-wjs"));
</script>

<!-- Analytics
================================================== -->
<script>
  var _gauges = _gauges || [];
  (function() {
    var t   = document.createElement('script');
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '4f0dc9fef5a1f55508000013');
    t.src = '//secure.gaug.es/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
</script>
