<header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="../../../../../../../resources/bootstrap/bootstrap-package-3.2.0/docs/_includes" class="navbar-brand">Bootstrap</a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li{% if page.slug == "getting-started" %} class="active"{% endif %}>
          <a href="../../../../../../../resources/bootstrap/bootstrap-package-3.2.0/docs/_includes/getting-started">Getting started</a>
        </li>
        <li{% if page.slug == "css" %} class="active"{% endif %}>
          <a href="../../../../../../../resources/bootstrap/bootstrap-package-3.2.0/docs/_includes/css">CSS</a>
        </li>
        <li{% if page.slug == "components" %} class="active"{% endif %}>
          <a href="../../../../../../../resources/bootstrap/bootstrap-package-3.2.0/docs/_includes/components">Components</a>
        </li>
        <li{% if page.slug == "js" %} class="active"{% endif %}>
          <a href="../../../../../../../resources/bootstrap/bootstrap-package-3.2.0/docs/_includes/javascript">JavaScript</a>
        </li>
        <li{% if page.slug == "customize" %} class="active"{% endif %}>
          <a href="../../../../../../../resources/bootstrap/bootstrap-package-3.2.0/docs/_includes/customize">Customize</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ site.expo }}" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Expo');">Expo</a></li>
        <li><a href="{{ site.blog }}" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Blog');">Blog</a></li>
      </ul>
    </nav>
  </div>
</header>
